<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDWnHiZbawPFtTRyZqRQcsBk7Hkfk2F3PA</string>
	<key>GCM_SENDER_ID</key>
	<string>781155045469</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>miempresa.Snapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-517a0</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-517a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781155045469:ios:de2161c9b470819265bdb4</string>
</dict>
</plist>